body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(to top,rgb(222, 226, 230) 50% ,rgb(206, 212, 218) 50%);
  background-size:100% 30px ;

}


code {
  font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.navbar {
  position: relative;
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  background: #6f1d1b;
  color: #fff;

}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
  margin: 1%;

}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}


.card {
  height: 190px;
  width: 230px;
}

.card-body {
  text-align: center;
  overflow: overlay;

}

.card ::-webkit-scrollbar {
  -webkit-appearance: none;

}

.card ::-webkit-scrollbar:vertical {
  width:15px;
}


.card ::-webkit-scrollbar-track {
  background-color: #343a40;
  border: 2px solid #8f9192;
}

.card ::-webkit-scrollbar-thumb {
  background-color: #343a40;
  border: 2px solid #8f9192;
}

.card ::-webkit-scrollbar-thumb:hover {
  background-color: #eaeaea;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.3rem 0.3rem;
}

.card-header {
  padding: 0.3rem 0.3rem;
  text-align: center;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0  100%;
    max-width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

 }


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0  50%;
    max-width: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .col-md-3 {
    -ms-flex: 0 0 33%;
    flex: 0 0  33%;
    max-width: 33%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0  25%;
    max-width: 25%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0  25%;
    max-width: 25%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

}